* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    
}

body {
    background-color: #d9beff;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background-color: #1c1833;
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div {
    padding: 25px;
    background-color: #78767c;
    margin: 20px;
}

img {
    border: solid #ffdaff;
    flex: 3;
    width: 200px;
    text-align: center;
    display:block;
    margin:auto;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #bc9bfb;
}

h4 {
    color:#7d38d4
}

p, li{
    color: #fff
}

b{
    color:#d1cad5
}
